# Python DB
\.vscode/
\__pycache__/
db.sqlite3

# C#
*obj
*frontend.v12.suo
*.sln       
*.csproj    
*.vbproj    
*.vcxproj   
*.vcproj    
*.dbproj    
*.fsproj    
*.lsproj    
*.wixproj   
*.modelproj 
*.sqlproj   
*.wwaproj  